
@{
	ViewData["Title"] = "详细信息";
	Layout = null;
}
<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>帖子详细页面</title>
	@*<link rel="stylesheet" href="~/lib/layui/css/layui.css" media="all">*@
	
	<style>
		.main-box {
			background: #eee;
		}

			.main-box > div {
				background: #fff;
			}

		.breadcrumb {
			background: #fff;
			padding-left: 0;
		}

			.breadcrumb .active a {
				color: #777;
			}

		.pagination {
			margin: 0;
		}
		#respond {
		  margin:20px auto;
		  width:1000px;
		  height:500px;
		}
		textarea {
		height:400px;
		width:800px;
		}
		.hflb p {
			width: 186px;
			float: right;
		}
		.hflb li {
			height: 48px;
			line-height: 10px;
			list-style: none;
			/*margin: 20px;*/
		}
		.hf .uppercase {
			font-weight: 400;
			font-size: 18px;
		}
		.tz {
		padding:0 0 10px 10px;
		}
		#respond input {
		width:50px;
		height:50px;
		background-color:orange;
		}
	</style>
</head>
<body>
	@model Models.mh_attach_tzb_yjfk
	@using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, true, new { name = "saveForm", id = "saveForm", @class = "layui-form" }))
	{
		@Html.HiddenFor(m => m.tzb.id)
		<!--内容信息-->
		<div class="main-box">
			<div class="container main-container">
				<div class="col-lg-12 blog__content mb-30" style="margin:20px;">
					<div class="tz">
						<h3>@Model.tzb.content</h3>
					</div>
					<div class="entry-comments mt-30" style="height:500px;border:1px solid #ccc;">
						<div class="title-wrap mt-40 hf" style="padding:20px;">
							<h5 class="uppercase">回复列表</h5>
						</div>
						<article class="entry  hflb">
							<ul class="comment-list">
								@foreach (var tag in Model.yjfk)
								{
									<li class="comment">
										<h3 class="comment-author" style="width:300px;float:left;font-weight:400">@tag.hf_nr</h3>
										<p style="width:54px;">回复</p>
										<p class="entry__meta-date"> <i class="ui-date"></i>@Html.DisplayFor(m => @tag.hf_time)</p>
									</li>
								}
							</ul>
						</article>
					</div>
					<div id="respond">
						<div class="title-wrap">
							<h5 class="comment-respond__title uppercase">发表评论</h5>
						</div>
						<form id="form2" class="comment-form" onsubmit="return false;">
							<!--  表单前后台通信是根据name属性的，所以你想后台接收一定要设置好name属性-->
							<input name="tzb_id" id="tzb_id" value="@Model.tzb.id" type="hidden">
							<p class="comment-form-comment">
								<textarea id="plnr" name="hf_nr" rows="8" placeholder="请输入评论内容..."></textarea>
							</p>
							<p class="comment-form-submit">
								<input id="btn_submit" type="submit" class="btn btn-lg btn-color btn-button" value="提交" onclick="up()">
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	}
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/jquery/dist/jquery.newsTicker.min.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

		<script>
			function up() {
				if ($("#plnr").val() == "") {
					alert("不能提交");
					return false;
				}
				keyvalue = $("#tzb_id").val();
				$.ajax({
					url: "/qian/ftz/savehf?date=" + new Date().getTime(),
					//  $("#form2").serialize() 这一句代码是将表单的数据 变成字典 ， 你也可以手动写的 ，比如 data:{"id",123,"conten",$("content").val()}
					data: $("#form2").serialize(),
					success: function (data) {
						if (data == "nologin") {
							alert("请登录");
							window.location.href = "/qian/user/login";
						} else if (data == "success") {
							alert("提交成功");
							window.location.href = "/qian/ftz/tail?keyvalue=" + keyvalue;
						} else {
							alert("提交失败");
						}
					}
				});
			}
		</script>
	</body>
</html>